-# encoding: utf-8

:javascript
  $(".help-trigger").click(function() {
    $('body').chardinJs('start');
  });
.row
  .span4.offset2
    .media.well
      %img.pull-left.media-object{:src => "https://secure.gravatar.com/avatar/#{Digest::MD5.hexdigest(@user.email)}?s=64"}/
      .media-body
        %h4
          = @user.nickname
          %span.label.label-important
            = vip_level(@user.grow_points)
        %p
          = @user.email
  .span4
    %h4 可用余额
    %h2
      = "%.2f" % @user.balance.to_f
      %small 元
    %a.btn.btn-primary{:href => "/user/deposit/"} 充值
    %a.btn.disabled{:href => "#"} 转账
%hr/
.row
  .span8.offset2
    .tabbable.tabs-left
      %ul#trendmaps.nav.nav-tabs
        %li.active
          %a{:href => "#home"} 支出
        %li
          %a{:href => "#profile"} 收入
        %li
          %a{:href => "#messages"} 综合开销
        %li
          %a{:href => "#settings"} 综合盈利
      .tab-content
        #home.tab-pane.active
          #tm-spent
        #profile.tab-pane
          #tm-income
        #messages.tab-pane
          #tm-overhead
        #settings.tab-pane
          #tm-profit
      :javascript
        $('#trendmaps a').click(function (e) {
          e.preventDefault();
          $(this).tab('show');
        })
      :javascript
        var months = #{@months.inspect};
        var data_spent = #{@data_spent.inspect}
        var data_income = #{@data_income.inspect};
        var data_overhead = #{@data_overhead.inspect};
        var data_profit = #{@data_profit.inspect};

        var ds_max = #{@ds_max};
        var di_max = #{@di_max};
        var do_max = #{@do_max};
        var dp_max = #{@dp_max};
        
        function calcx(pos) {
          return (430/11)*pos+15;
        }
        function calcy(data, max) {
          return 70-(data/max)*50;
        }
        
        function maketm(tmid, tmdata, tmdmax) {
          var svg = d3.select(tmid)
                      .append("svg")
                      .attr("width", 460)
                      .attr("height", 100)
                      .attr("style", "overflow: hidden; position: relative;");
          
          var pathset = [];
          for (var dp=0; dp<tmdata.length-1; dp++) {
            pathset.push("M"+(calcx(dp))+","+(calcy(tmdata[dp], tmdmax))+"L"+(calcx(dp+1))+","+(calcy(tmdata[dp+1], tmdmax)));
          }
          svg.selectAll("path")
             .data(pathset)
             .enter()
             .append("path")
             .attr("style", "-webkit-tap-highlight-color: rgba(0, 0, 0, 0);")
             .attr("fill", "none")
             .attr("stroke", "#d8e5eb")
             .attr("d", function(d) {
               return d;
             })
             .attr("stroke-width", "4px");
          
            var tooltip = d3.select("body").append("div")   
              .attr("class", "tooltip")               
              .style("opacity", 0);

          var circles = svg.selectAll("circle")
                           .data(tmdata)
                           .enter()
                           .append("circle")
                           .attr("r", 5)
                           .attr("fill", "#ffffff")
                           .attr("stroke", "#cee2e9")
                           .attr("stroke-width", "2.5px")
                           .attr("cx", function(d, i) {
                             return calcx(i);
                           })
                           .attr("cy", function(d) {
                             return calcy(d, tmdmax);
                           })
                           .on("mouseover", function(d, i) {
                             if (d3.select(this).style("stroke") != "#ffb515") {
                               circles.style("stroke", "#cee2e9");
                               d3.select(this).style("stroke", "#ffb515");
                               tooltip.style("opacity", 0)
                                      .style("left", d3.event.pageX + "px")
                                      .style("top", d3.event.pageY - 30 + "px")
                                      .html(d);
                               tooltip.transition()
                                      .duration(200)
                                      .style("opacity", .9);
                             };
                           })
                           .on("mouseout", function() {
                              circles.style("stroke", "#cee2e9");
                              tooltip.transition()
                                     .duration(200)
                                     .style("opacity", 0);
                           });
          svg.selectAll("text")
             .data(months)
             .enter()
             .append("text")
             .attr("x", function(d,i) {
               return calcx(i);
             })
             .attr("y", 87)
             .attr("text-anchor", "middle")
             .attr("font-size", "12px")
             .attr("font-family", "Arial")
             .attr("stroke", "none")
             .attr("fill", "#cee2e9")
             .append("tspan")
             .attr("style", "-webkit-tap-highlight-color: rgba(0, 0, 0, 0);")
             .attr("dy", "4.1640625")
             .text( function(d) {
               return d+"月"
             });

        }
        
        maketm("#tm-spent", data_spent, ds_max);
        maketm("#tm-income", data_income, di_max);
        maketm("#tm-overhead", data_overhead, do_max);
        maketm("#tm-profit", data_profit, dp_max);
  .row
  .span10.offset1
    %table.table.table-striped
      %caption 交易列表
      %thead
        %tr
          %th 创建时间
          %th 名称 | 交易号
          %th 对方
          %th 金额 | 明细
          %th 状态
          %th 操作
      %tbody
        - @user.payment.all(:order => [ :updated_at.desc ]).each do |pay|
          %tr
            %td
              - if pay.ended_at
                = pay.ended_at.strftime("%Y.%m.%d")
                %br/
                %small
                  = pay.ended_at.strftime("%H:%M:%S")
            %td
              = pay.name
              %br/
              %small 交易号 #{pay.token[0,8]}...#{pay.token[-5,5]}
            %td
              = pay.recipient
            %td
              - if pay.type == :payment
                = "-%.2f" % pay.pay_amount.to_f
              - else
                = "%.2f" % pay.pay_amount.to_f
            %td
              - if pay.type == :payment
                - if pay.status == :succeed
                  已支付
                - elsif pay.status == :pending
                  等待支付
                - elsif pay.status == :failed
                  支付失败
                - elsif pay.status == :expired
                  超过时限, 支付失败
              - elsif pay.type == :inpour
                已充值
              - elsif pay.type == :refund
                已退款
              - elsif pay.type == :transfer
                已转账
            %td
              %i.icon-remove
